@import "~bootstrap/scss/bootstrap";
.custom-control {
  z-index: 0;
}
.msg-success {
  margin: 0;
}
.loading-overlay {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-loading-container {
  height: 200px;
}
.nav-button {
  cursor: pointer;
}

footer {
  p {
    a {
      color: #fff;
    }
    margin: 0;
    text-align: center;
    background-color: #038767;
    color: #fff;
    padding: 3px 0;
  }
  position: fixed;
  bottom: 0;
  width: 100%;
}